.margin--flex {
    margin-bottom: 2rem;

    @media screen and (min-width: 48rem) {
        margin-bottom: 4rem;
    }
}

.margin--flex--small {
    margin-bottom: 1rem;

    @media screen and (min-width: 48rem) {
        margin-bottom: 2rem;
    }
}

.viewport-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.transparent {
    opacity: 0;
    visibility: hidden;
}

.collapsed {
    height: 0;
}

.hidden {
    display: none;
}