input[type="submit"],
button,
.btn {
    -webkit-appearance: none;
    @include base-font-style;
    font-family: $font-family--3;
    min-width: 9.375rem;
    padding: .1rem 2.5rem;
    background-color: $accent-color;
    color: $shade__dark--1;
    -webkit-text-fill-color: $shade__dark--1;
    border: .1875rem solid $accent-color--dark;
    outline: .125rem solid $accent-color;
    position: relative;
    transition: $transition;
    letter-spacing: .1ch;
    -webkit-tap-highlight-color: $accent-color--translucent;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 1.6rem;
        width: 1.6rem;
        opacity: 0;
        transition: $transition;
        background-image: url("../assets/images/noun_Knot_676661.svg");
        background-size: 1.5rem;
        background-position: center .125rem;
        background-repeat: no-repeat;
        mix-blend-mode: soft-light;

        @media screen and (min-width: 48rem) {
            height: 1.7rem;
            width: 1.7rem;
            background-size: 1.55rem;
            background-position: center .1875rem;
        }
    }

    &:before {
        left: .3rem;
    }

    &:after {
        right: .3em;
    }

    &:active,
    &:focus,
    &:hover {
        cursor: pointer;
        color: $shade__dark--1;
        -webkit-text-fill-color: $shade__dark--1;
        border-color: $accent-color--darker;
        text-decoration: underline;
        text-underline-offset: .2em;
        text-decoration-thickness: .1em;

        &:before,
        &:after {
            opacity: .7;
        }
    }

    &:focus {
        outline: .5625rem double $accent-color;
    }
}

/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;

    .tooltip__text {
        font-family: $font-family--1;
        width: 9.375rem;
        background-color: $shade__dark--2;
        color: $main-color--dark;
        -webkit-text-fill-color: $main-color--dark;
        text-align: center;
        border-radius: .375rem;
        padding: .3125rem;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -4.6875rem;
        transition: opacity .3s;

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -.3125rem;
            border-width: .3125rem;
            border-style: solid;
            border-color: $shade__dark--2 transparent transparent transparent;
        }
    }
}