input[type="submit"],
button,
.btn {
    -webkit-appearance: none;
    @extend %base-font-style;
    min-width: 150px;
    font-family: $font-family--2;
    padding: 0px 40px;
    background-color: $accent-color;
    color: $shade__dark--1;
    -webkit-text-fill-color: $shade__dark--1;
    border: 3px solid $accent-color--dark;
    outline: 2px solid $accent-color;
    position: relative;
    transition: $transition;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: $accent-color--translucent;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0; 
        height: 1.6rem;
        width: 1.6rem;
        opacity: 0;
        transition: $transition;
        background-image: url("../assets/images/noun_Knot_676661.svg");
        background-size: 1.5rem;
        background-position: center 2px;
        background-repeat: no-repeat;
        mix-blend-mode: soft-light;

        @media screen and (min-width: 768px) {
            height: 1.7rem;
            width: 1.7rem;
            background-size: 1.55rem;
            background-position: center 3px;
        }
    }

    &:before {
        left: .3rem;
    }

    &:after {
        right: .3em;
    }

    &:active,
    &:focus,
    &:hover {
        cursor: pointer;
        color: $shade__dark--1;
        -webkit-text-fill-color: $shade__dark--1;
        border-color: $accent-color--darker;

        &:before,
        &:after {
            opacity: 0.7;
        }
    }

    &:focus {
        outline: 9px double $accent-color;
    }
}

/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;

    .tooltip__text {
        width: 150px;
        background-color: $shade__dark--2;
        color: $main-color;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        transition: opacity 0.3s;

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $shade__dark--2 transparent transparent transparent;
        }
    }
}