form {
    position: relative;
    max-width: 15rem;
    margin: 0 auto 1.25rem;

    @media screen and (min-width: 48rem) {
        max-width: none;
    }
}

input,
label {
    -webkit-tap-highlight-color: $accent-color--translucent;

    &:hover {
        cursor: pointer;
    }
}

input[type=checkbox] {
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
}

input[type=checkbox] + label {
    position: relative;
    display: block;
    text-align: center;
    line-height: 1.5rem;
    margin-left: 1rem;
    padding-left: 2.5rem;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1rem;
        line-height: 1rem;
        text-align: left;
        padding-top: .0625rem;
        padding-left: .0625rem;
        border: .1875rem solid $main-color;
        color: $main-color;
        outline: 0;
        transition: $transition;
    }
}

input[type=checkbox]:focus + label {
    &:before {
        outline: .1875rem solid $main-color;
        outline-offset: .1875rem;
    }
}

input[type=checkbox]:checked + label {
    &:before {
        background-image: url("../assets/images/tick.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

.line-range {
    -webkit-appearance: none;
    width: 250px;
    height: 25px;
    background: $shade__light--3;
    outline: none;

    &:focus {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            outline: .125rem dashed $accent-color;
            outline-offset: .125rem;
        }
    }
}

.line-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: $finland--blue;
    border-radius: 50%;
    cursor: grabbing;
    z-index: 2;
    background-image: url("../assets/images/noun_Round_Shield_966697_white.png");
    background-repeat: no-repeat;
    background-size: 105px;
    background-position: center 33%;
    box-shadow: inset 0 0 0 3px $shade__dark--3;
    border-radius: 50%;
}

.line-range::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background: $finland--blue;
    border-radius: 50%;
    cursor: grabbing;
    z-index: 2;
    background-image: url("../assets/images/noun_Round_Shield_966697_white.png");
    background-repeat: no-repeat;
    background-size: 105px;
    background-position: center 36%;
    box-shadow: inset 0 0 0 3px $shade__dark--3;
    border: 1px solid $shade__dark--1;
    border-radius: 50%;
}

// SWORD STYLES
.sword--container {
    text-align: center;

    span.lines {
        display: block;
    }
}

.sword {
    height: 50px;
    width: 280px;
    display: inline-block;
    position: relative;
    filter: drop-shadow(2px 3px 3px $shade__dark--2);

    @media screen and (min-width: 36rem) {
        width: 400px;
    }

    .blade,
    .guard,
    .grip,
    .pommel {
        margin: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .guard,
    .pommel {
        background-color: $sword--metal--light;
        background: linear-gradient(135deg, $sword--metal--dark 0%, $sword--metal--light 100%);
    }

    .blade {
        right: 0;
        height: 40%;
        width: 80%;
        background-color: $shade__light--2;
        background: linear-gradient(135deg, $shade__light--2 0%, $shade__light--1 100%);
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        box-shadow: 0rem -5px 0 0 rgba(110,110,110,.2) inset;
    }

    .guard {
        left: 18%;
        width: 2.5%;
        height: 100%;
        border-radius: 25%;
        z-index: 2;
    }

    .grip {
        left: 2%;
        height: 30%;
        width: 18%;
        border-top-right-radius: 0%;
        border-top-left-radius: 40%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 40%;
        background-color: $sword--grip--dark;
        background: linear-gradient(180deg, $sword--grip--dark 0%, $sword--grip--light 100%);
    }

    .pommel {
        left: 0;
        height: 50%;
        width: 4%;
        border-top-left-radius: 100%;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 5px;
    }
}