.kalevala--container {
    transition: 1s ease all;
}

.kalevala {
    font-feature-settings: 'liga';

    p:first-of-type:first-letter {
        font-family: $font-family--3;
        font-feature-settings: normal;
        color: $main-color;
        float: left;
        font-size: 5rem;
        line-height: 4rem;
        padding-top: .25rem;
        padding-right: .5rem;
        padding-left: .1875rem;
        font-weight: normal;
        margin-bottom: $font-margin--bottom;

        @media screen and (min-width: 48rem) {
            font-size: 6.25rem;
            line-height: 5rem;
        }

        ::-moz-selection {
            @include selection-styles;
        }

        ::selection {
            @include selection-styles;
        }
    }

    p:last-of-type {
        margin-bottom: $font-margin--bottom * 2;

        @media screen and (min-width: 48rem) {
            margin-bottom: $font-margin--bottom * 3;
        }
    }
}