.kalevala--container {
    transition: 1s ease all;
}

.kalevala {
    font-feature-settings: 'clig', 'liga';

    p:first-of-type:first-letter {
        font-family: $font-family--3;
        color: $main-color;
        float: left;
        font-size: 5rem;
        line-height: 4rem;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-weight: normal;
        margin-bottom: $font-margin--bottom;

        @media screen and (min-width: 768px) {
            font-size: 6.25rem;
            line-height: 5rem;
        }

        ::-moz-selection {
            background: rgba(220, 176, 88, 0.6);
            color: $shade__dark--1;
        }

        ::selection {
            background: rgba(220, 176, 88, 0.6);
            color: $shade__dark--1;
        }
    }

    p:last-of-type {
        margin-bottom: $font-margin--bottom * 2;

        @media screen and (min-width: 768px) {
            margin-bottom: $font-margin--bottom * 3;
        }
    }
}