@font-face {
    font-family: "Pfeffer Simpelgotisch";
    src: url("../assets/fonts/PfefferSimpelgotisch_normal.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Pfeffer Simpelgotisch Halbfett";
    src: url("../assets/fonts/PfefferSimpelgotisch_halbfett.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Pfeffer Simpelgotisch Fett";
    src: url("../assets/fonts/PfefferSimpelgotisch_fett.otf") format("opentype");
    font-weight: 700;
}

@mixin base-font-style {
    font-family: $font-family--1;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;

    @media screen and (min-width: 768px) {
        font-size: 1.05rem;
        line-height: 1.75rem;
    }
}

html,
body {
    @include base-font-style;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family--3;
}

h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: $font-margin--bottom;

    @media screen and (min-width: 768px) {
        font-size: 4rem;
        line-height: 4.5rem;
    }
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: $font-margin--bottom;

    @media screen and (min-width: 768px) {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: $font-margin--bottom;

    @media screen and (min-width: 768px) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

h4,
h5,
h6 {
    @include base-font-style;
    margin-bottom: $font-margin--bottom;
}

p {
    @include base-font-style;
    margin-bottom: $font-margin--bottom;
}

a {
    color: $main-color;
    transition: $transition;
    text-decoration: none;

    &:focus,
    &:hover {
        color: $main-color--light;
    }

    &:focus {
        outline: 3px solid $main-color--light;
        outline-offset: 3px;
    }
}

.lede,
.tip {
    font-family: $font-family--2;
}

.tip {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $main-color--light;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
}

small,
.small {
    font-size: .75rem;
    line-height: 1.3rem;

    @media screen and (min-width: 768px) {
        font-size: .85rem;
        line-height: 1.5rem;
    }
}

.main-title {
    text-align: center;
}

.text--lighter {
    color: $main-color--light;
}

.text--accent {
    color: $font-color--4;
}

.text--gradient {
    background: $base-color--dark; // Fallback
    background: linear-gradient(90deg, $main-color--dark 0%, $main-color--light 50%, $main-color--dark 100%);
    color: $shade__light--1; // Fallback
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-moz-selection {
    background: rgba(220, 176, 88, 0.6);
    color: $shade__dark--1;
}

::selection {
    background: rgba(220, 176, 88, 0.6);
    color: $shade__dark--1;
}