$width--1: 56.25rem;

$base-color: #1d4f57;
$base-color--mid: darken($base-color, 10%);
$base-color--dark: darken($base-color, 20%);

$main-color: #9ee0ff;
$main-color--light: #c3f7ff;
$main-color--dark: darken($main-color, 15%);

$accent-color: #dcb058;
$accent-color--light: lighten($accent-color, 20%);
$accent-color--dark: darken($accent-color, 15%);
$accent-color--darker: darken($accent-color, 25%);
$accent-color--translucent: rgba(220, 176, 88, .5);

$finland--blue: #0d328a;

$shade__light--1: #d8d8d8;
$shade__light--2: #cfcfcf;
$shade__light--3: #bfbfbf;
$shade__light--4: #aeaeae;

// Sword colours
$sword--metal--light: $shade__light--3;
$sword--metal--dark: darken($shade__light--4, 10%);
$sword--blade--light: lighten($shade__light--1, 5%);
$sword--blade--dark: $shade__light--2;
$sword--grip--light: #624207;
$sword--grip--dark: #402d0f;

$shade__dark--1: #282828;
$shade__dark--2: rgba(40, 40, 40, .8);
$shade__dark--3: #808080;

// Font families
$font-family--1: "Pfeffer Simpelgotisch", Times New Roman, serif;
$font-family--2: "Pfeffer Simpelgotisch Halbfett", Times New Roman, serif;
$font-family--3: "Pfeffer Simpelgotisch Fett", Times New Roman, serif;

// Font colors
$font-color--1: $main-color--light;
$font-color--2: $main-color;
$font-color--3: $shade__light--1;
$font-color--4: $accent-color--light;

// Font margins
$font-margin--bottom: 1.25rem;

// Transitions
$transition: .3s ease all;
